body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("images/adobestock_257957753_ynews.jpeg");
}
p, blockquote {
    font-size: .9em;
    line-height: 1.6em;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    padding: 0em 0em;
    border-radius: 30px;
}
.ossi {
    width: 25%;
    display: flex;
    justify-content: space-around;
    border-radius: 50%;
}
header {
    display: flex;
    justify-content: space-between;
}
h1{
    font-style: normal;
    font-weight: 600;
    font-size: 49px;
    line-height: 73px;
    color: #544949;
    margin-bottom: 0px;
}
.yhteystiedot{
    background: #B6B8B9;
}
.yhteystiedot ul {
    display: inline;
}

.kuvaossi a{
    display: inline;
}
.kaavakuva{
    border-radius: 30px;
    height: 15%;
    display: flex;
    justify-content: space-around;
}
.icon {
    width: 5%;
}
.paasisalto{
    background-color: #6FCDFF;
}
.linkkari{
    width: 10%;
}
.nav{
    width: 70%;
    height: 45px;
    display: flex;
    right: 20px;
    float: right;
    justify-content: flex-end;
}

.navigaatio ul {
    display: inline;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}
.navigaatio li{
    display: inline;
    justify-content: space-evenly;
}
