body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
p, blockquote {
    font-size: .9em;
    line-height: 1.6em;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    padding: 0.8em 1.2em;
    border-radius: 30px;
}
.ossi {
    width: 25%;
    display: flex;
    justify-content: space-around;
    border-radius: 50%;
}
header {
    display: flex;
    justify-content: space-between;
}
h1{
    position: relative;
    z-index: 3;
}
.yhteystiedot{
    background: grey;
}
.kuvaossi{
    width: calc(100%-1em);
    display: block;
}
.kaavakuva{
    border-radius: 30px;
    height: 15%;
}
.icon {
    width: 5%;
}
.paasisalto{
    background-color: #6FCDFF;
}
.linkkari{
    width: 10%;
}
navigaatio{
    width: 70%;
    height: 45px;
    display: flex;
    right: 20px;
    float: right;
    justify-content: flex-end;
}

.navigaatio ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}