body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
p, blockquote {
    font-size: .9em;
    line-height: 1.6em;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    padding: 0.8em 1.2em;
    border-radius: 30px;
}
.ossi {
    width: 50%;
    display: flex;
    justify-content: space-around;
    
}
header {
    display: flex;
    justify-content: space-between;
}
h1{
    position: relative;
    z-index: 3;
}
.yhteystiedot{
    background: #6DF564;
}
.kuvaossi{
    width: calc(100%-1em);
    display: block;
}