<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
     
      <img src="pic1.jpg" class="user-image center" alt="My Profile Photo">
      
      <h2>
        <a href="{{ site.url }}">
          {{ site.title }}
        </a>
      </h2>
      <p style="font-size:90%;">{{ site.description }}</p>
      
    </div>
     
      <a href="https://ossitahvonen.github.io/research.html">Research</a>
      <br/>
      <a href="https://ossitahvonen.github.io/cv_eng-9.pdf">CV</a>
      <br/>
      <a href="https://twitter.com/ossitahvonen">Twitter</a> 
    
  </div>
</div>
